on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ '*' ]
  merge_group:
    types: [ checks_requested ]
  workflow_dispatch: { }

name: Continuous integration

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        crate: [tsp-core, tsp-parser, tsp-rust, tsp-solvers]
        rust: [stable, beta, nightly]
            
    name: Tests ${{ matrix.crate }} (Rust ${{ matrix.rust }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      # Remove repo toolchain pin so we can specify toolchain manually
      - name: Remove toolchain pin
        run: rm -f rust-toolchain.toml rustup-toolchain.toml
      - name: Install Rust ${{ matrix.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Build caching
        uses: Swatinem/rust-cache@v2

      - name: Build and test
        run: |
          # Run tests with default and all features. Powerset of features is only tested on merge
          # or with the S-run-thorough-ci-tests label to save CI resources.
          cargo nextest run --package ${{ matrix.crate }} --verbose