on:
  push:
    branches: [ 'main' ]
  pull_request:
    branches: [ '*' ]
  merge_group:
    types: [ checks_requested ]
  workflow_dispatch: { }

name: Continuous integration

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust: [stable] # [stable, beta, nightly] # For now, only test stable to save CI resources
            
    name: Tests (Rust ${{ matrix.rust }})

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      # Remove repo toolchain pin so we can specify toolchain manually
      - name: Remove toolchain pin
        run: rm -f rust-toolchain.toml rustup-toolchain.toml
      - name: Install Rust ${{ matrix.rust }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Build caching
        uses: Swatinem/rust-cache@v2

      - name: Build and test
        run: |
          # Run tests with default and all features.
          cargo nextest run --verbose
          cargo nextest run --all-features --verbose
  
  miri:
    runs-on: ubuntu-latest
    # Possibly re-enable this, if runs take too long otherwise
    # strategy:
    #   matrix:
    #     crate: [tsp-core, tsp-parser, tsp-rs, tsp-solvers]
            
    name: Miri ${{ matrix.crate }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      # Remove repo toolchain pin so we can specify toolchain manually
      - name: Remove toolchain pin
        run: rm -f rust-toolchain.toml rustup-toolchain.toml
      - name: Install Rust Nightly
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: miri, rust-src
      - name: Install cargo-nextest
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-nextest

      - name: Build caching
        uses: Swatinem/rust-cache@v2

      - name: Run miri
        run: |
          MIRIFLAGS=-Zmiri-disable-isolation cargo miri nextest run --features _miri --package tsp-core --package tsp-rs --package tsp-solvers
          MIRIFLAGS=-Zmiri-disable-isolation cargo miri nextest run --features _miri -E 'test(short)' --package "tsp-parser"